<%- include("header") -%>

    <h2>This is About Me</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. At voluptatem corrupti porro, assumenda fugit magnam
        unde autem? Omnis, nesciunt molestiae nisi earum hic ad provident cupiditate aut. Minima, commodi tempore?</p>

    <%- include("footer") -%>